{
  "bracketSpacing": true,
  "useTabs": false,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-style-order"]
}
